################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/MiniDDD/bin
/src/MiniDDD/obj
/src/MiniDDD.EF/bin
/src/MiniDDD.EF/obj
/src/MiniDDD/bin
*.user
/src/MiniDDD.SqlSugar/bin
/src/MiniDDD.SqlSugar/obj
/src/MiniDDD.SqlSugar/bin
/src/Sample/ApiGateway/bin
/src/Sample/ApiGateway/log
/src/Sample/ApiGateway/obj
/src/Sample/CQRS/ConAppServer/bin
/src/Sample/CQRS/ConAppServer/obj
/src/Sample/CQRS/Domain/bin
/src/Sample/CQRS/Domain/obj
/src/Sample/CQRS/Events/obj
/src/Sample/CQRS/IServices/bin
/src/Sample/CQRS/IServices/obj
/src/Sample/CQRS/Services/bin
/src/Sample/CQRS/Services/obj
*.bak
/src/Sample/Simple/Domain/bin
/src/Sample/Simple/Domain/obj
/src/Sample/Simple/Infrastruction/Model/bin
/src/Sample/Simple/Infrastruction/Model/obj
/src/Sample/Simple/Infrastruction/Repository/EF/bin
/src/Sample/Simple/Infrastruction/Repository/EF/obj
/src/Sample/Simple/Infrastruction/Repository/SqlSugar
/src/Sample/Simple/Infrastruction/Repository/SqlSugar/obj
/src/Sample/Simple/IServices/bin
/src/Sample/Simple/IServices/obj
/src/Sample/Simple/Server/bin
/src/Sample/Simple/Server/obj
/src/Sample/Simple/Services/bin
/src/Sample/Simple/Services/obj
/src/Sample/CQRS/ConAppServer/bin
/src/Sample/Simple/ApiGateway/obj
/src/Sample/Simple/ApiGateway/bin
/src/Sample/ApiGateway2
/src/MiniDDD/bin
/src/MiniDDD.EF/bin
/src/MiniDDD.SqlSugar/bin
/src/MiniDDD.UnitOfWork.Dapper/bin
/src/MiniDDD.UnitOfWork.Dapper/obj
/src/MiniDDD.UnitOfWork.Dapper/bin
/src/Sample/Simple/Infrastruction/Repository/Simple.Repository.Dapper/bin
/src/Sample/Simple/Infrastruction/Repository/Simple.Repository.Dapper/obj
/src/Sample/CQRS/ConAppServer/bin
/src/Sample/CQRS/Domain/bin
/src/Sample/CQRS/IServices/bin
/src/Sample/CQRS/Services/bin
/src/Sample/Simple/ApiGateway/bin
/src/Sample/Simple/Domain/bin
/src/Sample/Simple/Infrastruction/Model/bin
/src/Sample/Simple/Infrastruction/Repository/EF/bin
/src/Sample/Simple/Infrastruction/Repository/Simple.Repository.Dapper/bin
/src/Sample/Simple/Infrastruction/Repository/SqlSugar/bin
/src/Sample/Simple/IServices/bin
/src/Sample/Simple/Services/bin
