################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/MiniDDD/bin/Debug/netstandard2.0
/src/MiniDDD/obj
/src/MiniDDD.EF/bin/Debug/netstandard2.0
/src/MiniDDD.EF/obj
*.user
/src/MiniDDD.SqlSugar/bin/Debug/netstandard2.0
/src/MiniDDD.SqlSugar/obj
/src/Sample/ApiGateway/bin
/src/Sample/ApiGateway/log
/src/Sample/ApiGateway/obj
/src/Sample/CQRS/ConAppServer/bin/Debug/netcoreapp2.0
/src/Sample/CQRS/ConAppServer/obj
/src/Sample/CQRS/Domain/bin/Debug/netcoreapp2.0
/src/Sample/CQRS/Domain/obj
/src/Sample/CQRS/Events/obj
/src/Sample/CQRS/IServices/bin/Debug/netcoreapp2.0
/src/Sample/CQRS/IServices/obj
/src/Sample/CQRS/Services/bin/Debug/netcoreapp2.0
/src/Sample/CQRS/Services/obj
*.bak
/src/Sample/Simple/Domain/bin/Debug/netstandard2.0
/src/Sample/Simple/Domain/obj
/src/Sample/Simple/Infrastruction/Model/bin/Debug/netstandard2.0
/src/Sample/Simple/Infrastruction/Model/obj
/src/Sample/Simple/Infrastruction/Repository/EF/bin/Debug/netstandard2.0
/src/Sample/Simple/Infrastruction/Repository/EF/obj
/src/Sample/Simple/Infrastruction/Repository/SqlSugar/bin/Debug/netcoreapp2.0
/src/Sample/Simple/Infrastruction/Repository/SqlSugar/obj
/src/Sample/Simple/IServices/bin/Debug/netcoreapp2.0
/src/Sample/Simple/IServices/obj
/src/Sample/Simple/Server/bin/Debug/netcoreapp2.0
/src/Sample/Simple/Server/obj
/src/Sample/Simple/Services/bin/Debug/netcoreapp2.0
/src/Sample/Simple/Services/obj
